.defaultElement {
	color: black;
}
.red {
	@extend .defaultElement;
	background-color: #B22F1B;
}
.green {
	@extend .defaultElement;
	background-color: #00B261;
}
.data-details {
    border: 1px rgb(89,89,89) solid;

    color: rgb(25,25,25);
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration: inherit;
    text-align: center;

    line-height: 1.3em;
}


.animate-hide {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  line-height: 20px;
  opacity: 1;
  padding: 1px;
  border: 1px solid black;
  background: white;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

/*
 * ngRepeat triggers three animation events: enter, leave and move.
 */
.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger {
  /* 10ms between each item being animated after the other */
  -webkit-transition-delay:10ms;
  transition-delay:10ms;

  /* this is required here to prevent any CSS inheritance issues */
  -webkit-transition-duration:0;
  transition-duration:0;
}

/* ending enter and move styling
   (this is what the element will animate from */
.repeat-animation.ng-enter,
.repeat-animation.ng-move { opacity:0; }

/* ending enter and move styling
   (this is what the element will animate towards */
.repeat-animation.ng-enter.ng-enter-active,
.repeat-animation.ng-move.ng-move-active { opacity:1; }

/* starting leave animation */
.repeat-animation.ng-leave { opacity:1; }

/* ending leave animation */
.repeat-animation.ng-leave.ng-leave-active { opacity:0; }